@page
@model StrongBartending.Pages.Configuration.ConfigurationModel
@{
    ViewData["Title"] = "Configuration";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Configuration</h1>

<table class="table">
    <tr>
        <td>
            <a class="nav-link text-dark" href="/Configuration/BarPay/Index">Bar Pay</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link text-dark" href="/Configuration/BarType/Index">Bar Types</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link text-dark" href="/Configuration/EventStatu/Index">Event Status</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link text-dark" href="/Configuration/EventType/Index">Event Type</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link text-dark" href="/Configuration/LeadStatu/Index">Lead Status</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link text-dark" href="/Configuration/LineStatu/Index">Line Status</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link text-dark" href="/Configuration/LinkBack/Index">Link Back</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link text-dark" href="/Configuration/Service/Index">Service</a>
        </td>
    </tr>

</table>